/*
  Custom styles for Trackster App
*/

/*universal styles  */

html {
  font-size: 16px;
}

/*header styling  */

.container {
  background-color: rgb(35, 2, 63);
  width: 100%;



}

h1 {
  font-family: Righteous;
  font-size: 2.5rem;
  color: rgb(255, 0, 171);
}

.row.header {
  height: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textinput {
  background-color: lightgrey;
  color: rgb(191, 191, 191);
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2rem;
}

.textinput span, .textinput i {
  padding: 0 .5rem 0 .5rem;
  font-size: .75rem;
}

.btn.btn-primary {
  background-color: rgb(255, 102, 204);
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  margin-left: 1rem;
}
