/*
  Custom styles for Trackster App
*/

/*universal styles  */

html {
  font-size: 16px;
}

/*header styling  */

.container {
  background-color: rgb(35, 2, 63);
  width: 100%;



}

h1 {
  font-family: Righteous;
  font-size: 2.5rem;
  color: rgb(255, 0, 171);
}

.row.header {
  height: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textinput {
  background-color: lightgrey;
  color: rgb(191, 191, 191);
  border-radius: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2rem;
}

.textinput span, .textinput i {
  padding: 0 .5rem 0 .5rem;
  font-size: .75rem;
}

.btn.btn-primary {
  background-color: rgb(255, 102, 204);
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  margin-left: 1rem;
  margin-right: 8.33333333%;
}

.container.trackinfo {
  background-color: rgb(104, 0, 255);
  color: rgb(255, 255, 255);
  height: 3rem;
  font-weight: bolder;
  font-family: 'Work sans';
}

.container.trackinfo span {
  margin-top: 1rem;
}

.container.trackfill {
  font-family: 'Work sans';
  font-size: 1rem;
  color: rgb(74, 74, 74);
}

.container.trackfill span {
  height: 2rem;
  align-items: center;
  display: flex;
}

.container.trackfill a {
  justify-content: center;
  display: flex;
}

.border {
  border-top: 1px solid rgb(204, 204, 204);
}
